	html {
		box-sizing: border-box;
	}
	*,
	*::befor,
	*::after {
		box-sizing: inherit;
	}

	// то что сверху обязательно!
	
	body {
 font-family: 'Fira Sans', sans-serif;
 font-weight: 400;
 font-size: 16px;
 background-color: #171919;
 color: #fff;
 text-transform: uppercase;
}
a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
}
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1920px;
	margin: 0 auto;
}
.suptitle-left {
	font-size: 22px;
	line-height: 32px;	
	letter-spacing: 7.33333px;
	text-transform: uppercase;
	color: #fff;
	opacity: 0.5;
	padding-left: 103px;
	position: relative;
	display: inline-block;
	&::before {
		content: "";
		position: absolute;
		width: 80px;
		height: 1px;
		background-color: #fff;
		left: 0;
		top: 50%;
	}
}